.dictionary-sample .header {
}

.dictionary-sample .header__side {
}

.dictionary-sample .header__side_align_left {
}

.dictionary-sample .header__side_align_right {
}

.dictionary-sample .header__menu {
}

.dictionary-sample .header__menu .menu__layout {
    margin: 0;
    padding: 0;
}

.dictionary-sample .header__menu .menu__layout-unit {
    list-style-type: none;
}

.dictionary-sample .header__menu .menu__item {
}
