/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   ========================================================================== */

.panel-example {
}

@media (max-width: 991px) {
    .panel-example {
        margin-top: 0 !important;
    }
}

.panel-default {
    border-radius: 0;
    box-shadow: none;
}

.panel-example .panel-body {
    padding: 0;
}

.panel-example pre {
    margin: 0;
    border-width: 1px 0 0 0;
    border-radius: 0;
}

.dictionary-sample {
    padding: 15px;
}

.dictionary-list h1,
.dictionary-list blockquote {
    display: none;
}


.repo-link {
    position: relative;
    display: block;
    text-decoration: none;
}

.repo-link__icon {
    display: inline-block;
    margin: -18px 0 -14px -5px;
    vertical-align: middle;
    height: 50px;
}

.repo-link__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.repo-link__text {
    font-size: 12px;
}

.repo-link:hover .repo-link__text,
.repo-link_state_hovered .repo-link__text {
    text-decoration: underline;
}
